PORT=10000
NODE_ENV=development
DATABASE_URL=postgresql://username:password@localhost:5432/chatbot_db
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
FRONTEND_URL=https://69afff07b63e32f60bf6a282--peppy-maamoul-0dcc4f.netlify.app/
