PORT=10000
NODE_ENV=production
DATABASE_URL=postgresql://ai_chatbot_db_zv4a_user:tzzhkuzpSspz5MWgHdiMCyXnEm9wlmIa@dpg-d6nv0pma2pns73fq840g-a/ai_chatbot_db_zv4a
GEMINI_API_KEY=AIzaSyBGXz_mG_hRe6n1REaz9yKVzOgKoKEfhCA
FRONTEND_URL=https://69afff07b63e32f60bf6a282--peppy-maamoul-0dcc4f.netlify.app
