PORT=10000
NODE_ENV=production
DATABASE_URL=postgresql://ai_chatbot_db_zv4a_user:tzzhkuzpSspz5MWgHdiMCyXnEm9wlmIa@dpg-d6nv0pma2pns73fq840g-a/ai_chatbot_db_zv4a
GEMINI_API_KEY=AIzaSyBUgzkqqyocGG7KLAn9El2In-_IsAag-_0
FRONTEND_URL=https://69afff07b63e32f60bf6a282--peppy-maamoul-0dcc4f.netlify.app
